
/*========================================reset_def_style=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  text-decoration: none;
}
:root {
  --main-text-color: #22343D;
  --main-elements-bg: #02897A;
  --white: #FFFFFF;
}

body {
	line-height: 1;
  background: white;
  margin: 0 auto;
  max-width: 1400px;
}
ol, ul {
	list-style: none;
}

/*=====================================general_stiles==================================================*/
* {
  font-family:'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--main-text-color);
}
h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 34px;
}
h3 {
  font-weight: bold;
  font-size: 32px;
}
h4 {
  font-weight: bold;
  font-size: 24px;
}
h5 {
  font-weight: 600;
  font-size: 22px;
}
h6 {
  font-weight: 500;
  font-size: 20px;
}
.not_explicit_btn {
  background: inherit;
  padding: 3px;
}
.not_explicit_btn:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 4px;
}

/*===================================flex=============================================*/

/*==========================================body=======================================================*/

/*========================================header==============================================<*/
.header {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  max-width: 1400px;
  min-width: 320px;
}
.header__wrapper {
  min-width: 79%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 0 19px 0;
  justify-content: space-between;
}

/*=========================================logo=====================================<<*/
.header__logo:hover{
  opacity: 0.7;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center; 
  padding-bottom: 2px; 
}
.logo__icon {
  margin-right: 16px;
}
.logo__title {
  font-size: 30px;
  padding-bottom: 1px;
  color: #173A56;
}
/*====================================header_option================================<<*/
.list__item {
  box-sizing: border-box;
}
.list__item._distance {
  margin-right: 5px;
}
.list__item:hover {
  opacity: 0.6;
}
.list__name {
  font-weight: 500;
  line-height: 28px;
}
.list__name._active {
  font-weight: 600;
}
/*============================header__category-list========================<<<*/
.header__list {
  margin-left: auto;
  margin-right: 24px;
}
.list {
  min-width: 34%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*============================header_btn========================<<<*/
.login {
  min-width: 26.4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.login__link {
  padding: 12.5px 24px;
  border-radius: 4px;
}
.login__link._distance {
  margin-right: 5px;
}
.login__link._secondary {
  border: 1px solid #BCD0E5;
  background: inherit;
}
.link__text._secondary {
  color: #173A56;
}
.login__link._primery {
  background: var(--main-elements-bg);
}
.login__link:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.link__text {
  color: var(--white);
  font-weight: 600;
}
.header__theme:hover {
  opacity: 0.7;
}
.header__theme {
  background: inherit;
  border: none;
  width: 32px;
  height: 32px;
}
.header__burger+label {
  display: none;
  background: inherit;
  border: none;
}
.header__burger {
  position: absolute;
  z-index: -1;
  opacity: 0;
  right: 30px;
}
.header__drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  background: var(--main-elements-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  transition: 0.65s;
  
}
.list__name._white {
  color: var(--white);
}
 .header__burger:checked+label .header__drop {
  display: flex;
  opacity: 0.7;
  z-index: 2;
  
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 28px;
  height: 31px;
}
.menu__global {
  border: 2px solid #173A56;
  position: absolute;
  left: 0;
  width: 21px;
  border-radius: 20px;
  transition: 0.55s;
  background: var(--white);
}
.menu__global._top {
  left: 12.5%;
  right: 12.5%;
  top: 25%;
  bottom: 75%;
}
.menu__global._middle {
  left: 12.5%;
  right: 12.5%;
  top: 50%;
  bottom: 50%;
}
.menu__global._bottom {
  left: 12.5%;
  right: 12.5%;
  top: 75%;
  bottom: 25%;
}
.header__burger:checked+label .menu__global._top {
  top: 19px;
  transform: rotate(50deg);
  transition: 0.55s;
  border: 2px solid var(--white);
  z-index: 3;
}
.header__burger:checked+label .menu__global._middle {
  opacity: 0;
}
.header__burger:checked+label .menu__global._bottom {
  top: 19px;
  transform: rotate(-410deg);
  transition: 0.55s ;
  border: 2px solid var(--white);
  z-index: 3;
}



/*=========================================main==============================================<*/
 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  min-width: 320px;
 }
/*================================main__introduction-section==============================<<*/
.introduction {
  width: 100%;
  margin-bottom: 110px;
  padding: 19px 144px 1px 146px; 
  box-sizing: border-box;
  background: url("../img/main/Bg.png") bottom no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 90px;
}
.introduction__content {
  margin-right: 10px;
}
.content {
  padding: 107px 0px 0px 13px;
  display: flex;
  flex-direction: column;
}
.content__title {
  width: 90%;
  padding: 19px 0 17px 0;
}
.content__description {
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 44px;
}
.tools {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  padding: 12.4px 0px;
}
.tools__btn:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 4px;
}
.tools__btn._primery {
  background: var(--main-elements-bg);
  padding: 20px 42px 17px 42px;
  border-radius: 4px;
}

.tools__btn._play {
  display: flex;
  align-items: center;
  padding: 17px 10px 15px 10px;
}
.tools__text {
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
}
.tools__text._play {
  color: var(--main-elements-bg);
  text-decoration: underline solid var(--main-elements-bg) 2px;
}
.tools__icon {
  margin-right: 9px;
}
/*=======================picture===========================*/
.introduction__picture {
  display: flex;
  align-items: center;
  padding: 5px 5px 10px 26px;
}
/*===================introduction__afterword=======================*/
.introduction__afterword {
  text-align: center;
  box-sizing: border-box;
  max-width: 539px;
  line-height: 48px;
  padding: 13px 4px 10px 11px;
  letter-spacing: 0.008em;
  margin-bottom: 55px;
}
/*===========================main__tile=================================*/
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*======================================================================*/
.tile__item {
  display: flex;
  flex-direction: column;
  max-width: 23%;
}
.tile__icon {
  width: 90%;
  margin-bottom: 26px;
}
.tile__title {
  margin-bottom: 19px;
}
.tile__description {
  line-height: 26px;
  width: 90%;
}
/*=======================================================*/
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 34px 0px 90px 15px;
}
.introduction__registration {
  background: var(--main-elements-bg);
  border-radius: 4px;
  padding: 18px 35px 15px 34px;
}
.introduction__registration:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.introduction__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}
/*=======================================information=====================================<<*/

.information {
  display: flex;
  align-items: center;
  padding: 19px 144px 1px 146px; 
  margin-bottom: 8px;
}
information {
  display: flex;
  flex-direction: column;
}
.container._interval {
  padding: 19px 0px;
}
/*========================count==========================*/
.count {
  padding: 25px 0;
  margin-right: 80px;
}
.count__foreword {
  font-weight: 600;
  margin-bottom: 20px;
}
.count__title {
  margin-bottom: 30px;
}
.count__description {
  line-height: 26px;
  margin-bottom: 25px;
}
.count__description._general {
  margin-bottom: 30px;
}
.count__subtitle {
  padding:5px 0;
  font-weight: 600;
  margin-bottom: 12px;
}
/*=======================picture=========================*/
.information__picture {
  display: flex;
  align-items: center;
  padding-bottom: 20px; 
}

/*======================information_picture _secondary===================================*/
.information__picture._secondary {
  margin-right: 90px;
}
.information__count._secondary {
  padding-top: 40px;
  margin: 0;
}
.count__description._secondary {
  margin-bottom: 17px;
}
.paragraph {
  padding: 15px 0;
  display: flex;
}
.paragraph__icon {
  display: flex;
  align-items: center;
  margin-right: 29px;
}
.paragraph__description {
  line-height: 26px;
}

/*=======================================presentation=====================================<<*/
.decorator {
  width: 100%;
  background: url("../img/main/Bg_down.png") center top no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}
.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 144px 1px 146px; 
}
/*=============================section_header==============================*/
.presentation__header {
  margin-bottom: 30px;
}
.presentation__title {
  padding: 40px 0 25px 0;
}
.presentation__description {
  width: 65%;
  text-align: center;
  line-height: 26px;
}
/*========================message===============================*/
.presentation__review {
  margin-bottom: 28px;
}
.review {
  min-width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.review__part {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
.review__part._left {
  margin-right: 10px;
}

.elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 23px;
}
.elem._right {
  justify-content: flex-end;
}
.emem_case {
  max-width: 98px;
  max-height: 98px;
}
.emem_case._left{
  margin-right: 17px;
}
.elem_message._left {
  background: url("../img/main/message_left.png") center no-repeat;
  padding: 10px 3px;
}
.elem_message._right {
  background: url("../img/main/message_right.png") center no-repeat;
  padding: 10px 12px;
  margin-right: 8px;
}
.elem_message._last {
  margin-right: 0px;
}
.elem_text {
  padding: 20px 25px 30px 25px;
}
/*====================================================*/
.presentation__link {
  background: var(--main-elements-bg);
  border-radius: 4px;
  padding: 18px 28px 15px 37px;
}
  .presentation__link:hover {
   box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.presentation_value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}
/*==============================================================*/
.slides {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 19px 144px 1px 146px; 
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.slides__header {
  margin-bottom: 20px;
}
.slides__description {
  margin-bottom: 40px;
}
.slide__container {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  margin-bottom: 22px;
  object-fit: contain;

}
.slide {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 31.5%;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  margin-bottom: 63px;
}
.slide:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  cursor: pointer;
}
.slide:hover .slide__title {
  color: var(--main-elements-bg);
}
.slide__info {
  padding: 3px 22px;
  margin-bottom: 10px;
}
.slide__title {
  box-sizing: border-box;
  min-width: 100%;
  padding: 3px 22px;
  line-height: 40px;
  margin-bottom: 27px;
}
.slide__autor {
  font-weight: 700;
}
.container_img {
  width: 100%;
}
.slides__handler {
  margin-bottom: 140px;
}
.handler__point:hover {
  fill: var(--main-elements-bg);
}

/*=======================================price=====================================<<*/
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 19px 144px 1px 144px;
  margin-bottom: 200px;
}
.price__title {
  margin-bottom: 20px;
}
.price__description {
  margin-bottom: 50px;
}
.packages {
  display: flex;
  width: 79%;
  flex-direction: row;
  justify-content: space-between;
}
.packages_item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 30%;
  margin: 0 5px;
  align-items: center;
  padding: 35px 72px 31px 72px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.packages_item:hover {
  background: var(--main-elements-bg);
}
.packages_item:hover .item__title,
.packages_item:hover .item__description,
.packages_item:hover .item__number,
.packages_item:hover .item__currency,
.packages_item:hover .item__text,
.packages_item:hover .advantages_value {
  color: var(--white);
}
.packages_item:hover .packages_btn {
  background: var(--white);
}
.packages_item:hover .packages__text {
  color: var(--main-elements-bg);
}
.item__title {
  margin-bottom: 30px;
}
.item__description {
  margin-bottom: 28px;
   white-space: nowrap;
}
.item__price {
  display: flex;
  margin-bottom: 15px;
}
.column._center {
  justify-content: center;
  align-items: flex-start;
}
.item__number {
  font-weight: bold;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--main-elements-bg);
}
.item__currency {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--main-elements-bg);
}
.item__text {
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.advantages_value {
  font-family: Inter;
  font-style: normal;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}
.packages_btn {
  background: var(--main-elements-bg);
  border-radius: 8px;
  padding: 11px 19px;
}
.packages_btn:hover {
  opacity: 0.7;
}
.packages__text {
  font-family: Montserrat;
  font-style: normal;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
}

/*=======================================main__feedback=====================================<<*/
.main__feedback {
  margin-bottom: 200px;
}
.feedback {
  min-width: 62%;
  align-items: center;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 52px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  .feedback:hover {
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.feedback__header {
  margin-bottom: 45px;
}
.feedback__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feedback__contacts {
  width: 100%;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: var(--main-text-color);
  margin-bottom: 45px;
  outline: none;
}
.feedback__contacts:focus, .feedback__contacts:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}

.feedback__contacts::placeholder {
  color: var(--main-text-color);
}
.feedback__value {
  width: 100%;
  padding: 23px 20px;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 45px;
  outline: none;
  }
.feedback__value::placeholder {
  color: var(--main-text-color);
}
.feedback__value:focus, .feedback__value:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.feedback__button {
  background: var(--main-elements-bg);
  border-radius: 35px;
  border: none;
  box-sizing: content-box;
  padding: 18px 54px;
  cursor: pointer;
}
.feedback__button:hover {
    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.feedback__submit {
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--white);
}
/*========================================footer==============================================*/
.footer {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box;
  padding: 25px; 
}
.contents {
  display: flex;
  flex-direction: row;
  min-width: 88%;
  justify-content: space-around;
  margin-bottom: 20px;
}
.social {
  margin-right: 30px;
}
.social__logo {
  margin-bottom: 20px;
}
.social__icon {
  margin-right: 15px;
  cursor: pointer;
}
.scroll {
  padding: 3px 20px;
}

.scroll__item {
  line-height: 35px;
  cursor: pointer;
}
.scroll__item._active {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.social__logo:hover,
.social__icon:hover,
.scroll__item:hover {
  opacity: 0.7;
}


.mode {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px;
  box-sizing: border-box;
}
.mode__title {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.mode__place {
  width: 95%;
  min-height: 42px;
  margin-bottom: 20px;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.mode__place:focus, .mode__place:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.mode__btn {
  background: var(--main-elements-bg);
  border-radius: 4px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}
.mode__btn:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.mode__submit {
  line-height: 24px;
  text-align: center;
  color: var(--white);
}

