@media (max-width: 1024px) {
 .header__burger+label {
   display: block;
 }
 .header__nav {
   display: none;
 }
 .auth {
  display: none;
  }
  .header__wrapper {
  padding: 19px 0 12px 0;
  min-width: 90%;
  }
  /*===================================main============================================*/
  /*===========================introduction==========================*/
  .introduction {
    padding: 8px 78px 1px 78px;
  } 
  .container {
    width: 95%;
    align-items: center;
    margin: 0 auto 40px;
  }
  .section {
    margin-bottom: 0 15px 10px;

  }
  .section._xs {
    flex-direction: column;
    align-items: center;
  }
  .section._reverse {
    flex-direction: column-reverse;
  }
 
  .introduction__picture {
    justify-content: center;
  }
  .content {
    padding: 0 15px;
    align-items: center;
  }
  .content__title {
  width: 100%;
  text-align: center;
  }
  .content__description {
    text-align: center;
  }
  .tile {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .tile__item {
    min-width: 45%;
    margin-bottom: 20px;
  }
  /*=======================information=======================*/
  .information {
    margin: 0 20px;
  }
  .count {
    max-width: 55%;
    padding: 15px 0px;
    margin-right: 0px;
  }
  .count__foreword {
    margin-bottom: 10px;
  }
  .information__picture._secondary {
    margin-right: 15px;
  }
  .count__title {
    margin-bottom: 15px;
    }
  .count__description {
    margin-bottom: 12px;
    }
  .count__description._general {
    margin-bottom: 15px;
    }
  .count__subtitle {
    margin-bottom: 6px;
    }
  /*========================presentation================================*/
  .review {
    flex-direction: column;
    min-width: 100%;
  }
  .review__part {
    width: 95%;
  }
  .review__part._right {
    flex-direction: column-reverse;
  }
  .decorator {
    margin-bottom: 70px;
  }
  /*==========================slides===============================*/
  .slider {
    flex-direction: column;
  }
  .slide {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 63px;
  }
  .handler {
    display: none;
  }
  .main__price {
    margin-bottom: 130px;
  }
  /*========================feedback==========================*/
  .feedback {
  min-width: 90%;
  }
}
@media (max-width: 768px) {
  .title._xl {
  text-align: center;
}
.tool__btn._primery {
    padding: 18px 24px 15px 24px;
  }

.tool__btn._play {
  display: flex;
  align-items: center;
  padding: 10px 7px 19px 7px;
}
.tool__text {
  font-weight: 400;
}
  .container {
    width: 95%;
    align-items: center;
    margin: 0 auto 5px;
  }
  .introduction__content {
    margin-right: 0;
  }
  .tool__btn._play {
    display: flex;
    align-items: center;
    padding: 17px 10px 15px 10px;
  }
  .tile {
    flex-direction: column;
    align-items: center;
  }
  .tile__item {
    max-width: 100%;
    text-align: center;
    margin-bottom: 37px;
  }
  .tile__icon {
    width: 100%;
  }
  .tile__description {
    width: 100%;
  }
  .count {
    box-sizing: border-box;
    max-width: 90%;
    padding: 10px 3px;
  }
  .presentation__title {
    text-align: center;
  }
  .presentation__description {
    width: 100%;
  }
  .packages {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .elem__text {
    padding: 3px 3px;
  }
  .packages__item {
    min-width: 35%;
    margin-bottom: 32px;
    padding: 30px 10px;
  }
  .feedback {
     padding: 52px 15px;
  }
  .slides {
    padding: 10px 20px;
  }
  .column {
    align-items: stretch;
  }
  .content {
    padding: 0;
  }
  .keeper {
    flex-direction: column;
    align-items: center;
    min-width: 88%;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .social {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .scroll {
    text-align: center;
    margin-bottom: 30px;
  }
  .mode {
    width: 90%;
    align-items: center;
    margin-bottom: 30px;
  }
  .mode__title {
    text-align: center;
  }
}



